<template>
  <blockquote>
    {{ value }}
  </blockquote>
</template>

<script>
  export default {
    name: 'Heading',

    props: {
      value: {
        type: String,
        required: true
      }
    }
  }
</script>

<style scoped>
  blockquote {
    border-left: 2px solid #ccc;
    margin: 1.5em 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
</style>