<template>
  <h1>
    {{ value }}
  </h1>
</template>

<script>
  export default {
    name: 'Heading',

    props: {
      value: {
        type: String,
        required: true
      }
    }
  }
</script>