<template>
  <h2>
    {{ value }}
  </h2>
</template>

<script>
  export default {
    name: 'SubHeading',

    props: {
      value: {
        type: String,
        required: true
      }
    }
  }
</script>