<template>
  <h3>
    {{ value }}
  </h3>
</template>

<script>
  export default {
    name: 'SubSubHeading',

    props: {
      value: {
        type: String,
        required: true
      }
    }
  }
</script>