<template>
  <img :src='value'/>
</template>

<script>
  export default {
    name: 'Image',

    props: {
      value: {
        type: String,
        required: true
      }
    }
  }
</script>

<style scoped>
  img {
    max-width: 100%;
  }
</style>