<template>
  <p>
    {{ value }}
  </p>
</template>

<script>
  export default {
    name: 'Paragraf',

    props: {
      value: {
        type: String,
        required: true
      }
    }
  }
</script>