<template>
  <div class='editor' @click='coords=null'>
    <img :src="image">
    <!-- {{coords}} -->
    <div class='wrap'>
      <div class='col edit'>
        <div ref='cdr' v-if='coords' class="coords" :style="{ left: coords.x+'px', top: coords.y+'px'}">
          <span>
            <a href='#' @click.prevent='insertLink'>
              link
            </a>
            |
            <a href='#' @click.prevent='removeLink'>
              unlink
            </a>
            |
            <a href='#' @click.prevent='bolder'>
              bolder
            </a>
            |
            <a href='#' @click.prevent='italic'>
              italic
            </a>
          </span>
        </div>
        <div v-for='(block, index) in blocks'>
          <template v-if='block.type == "para"'>
            <table>
              <tr>
              <td>
                  <p spellcheck=false v-html='block.value' tabindex="0"
                  onselect="alert(123)"
                  @click.stop
                  class='ce'
                  @select="select" contenteditable="true" @blur='input(index, $event)'>
                </p>
              </td>
              <td>
                <button @click='up(block)'>&uarr; вверх</button>
                <button @click='down(block)'>&darr; вниз</button>
                <button @click='remove(index)'>❌ удалить</button>
              </td>
            </tr>
          </table>
        </template>
        <template v-else-if='block.type == "h1"'>
            <table>
              <tr>
              <td>
          <h1 class='ce' contenteditable="true" @click.stop @blur='input(index, $event)' spellcheck=false v-html='block.value' tabindex="0">
            {{block.value}}
          </h1>
          </td>
          <td>
                <button @click='up(block)'>&uarr; вверх</button>
                <button @click='down(block)'>&darr; вниз</button>
                <button @click='remove(index)'>❌ удалить</button>
          </td>
          </tr>
          </table>
        </template>
        <template v-else>
<table>
              <tr>
              <td>
          <h2 class='ce' contenteditable="true" @click.stop @blur='input(index, $event)' spellcheck=false v-html='block.value' tabindex="0">
            {{block.value}}
          </h2>
          </td>
          <td>
                <button @click='up(block)'>&uarr; вверх</button>
                <button @click='down(block)'>&darr; вниз</button>
                <button @click='remove(index)'>❌ удалить</button>
          </td>
          </tr>
          </table>
        </template>
      </div>
      <!--div v-show='blocks.length==0'>
        <h1>Напишите свою историю</h1>
      </div>
      <div class='buttons'>
        <span>Добавьте</span>&nbsp;&nbsp;
        <button @click='h1'>Заголовок H1</button>
        <button @click='h2'>Заголовок H2</button>
        <button @click='text'>Текст</button>
      </div-->
    </div>
    <div class='col' data-name='clean'>
        <div v-for='(block, index) in blocks'>
          <template v-if='block.type == "para"'>
            <p v-html='block.value'></p>
        </template>
        <template v-else-if='block.type == "h1"'>
          <h1>{{block.value}}</h1>
        </template>
        <template v-else>
          <h2>{{block.value}}</h2>
        </template>
      </div>
    </div>
  </div>
</div>
</template>


<script>
  // import Component from '../src/Component.vue'
  // import Card from '../src/Card.vue'

  var move = function(array, element, delta) {
    var index = array.indexOf(element);
    var newIndex = index + delta;
  if (newIndex < 0  || newIndex == array.length) return;
  var indexes = [index, newIndex].sort();
  array.splice(indexes[0], 2, array[indexes[1]], array[indexes[0]]);
};

// window.addEventListener("paste", function(e) {
  // console.log("paste ev")
  //   // cancel paste
  //   e.preventDefault();

  //   // get text representation of clipboard
  //   var text = e.clipboardData.getData("text/plain");

  //   // insert text manually
  //   document.execCommand("insertHTML", false, text);


// var items = (event.clipboardData || event.originalEvent.clipboardData).items;
//   console.log(JSON.stringify(items), items); // will give you the mime types
//   for (index in items) {
//     var item = items[index];
//     if (item.kind === 'file') {
//       var blob = item.getAsFile();
//       var reader = new FileReader();
//       reader.onload = function(event){
//         console.log(event.target.result)}; // data url!
//       reader.readAsDataURL(blob);
//     }
//   }

// });


// window.addEventListener('paste', ... or
document.onpaste = function (event) {
  event.preventDefault();

  var text = event.clipboardData.getData("text/plain");
  console.log("text", text)

  if (text !== "") {
  }

  // use event.originalEvent.clipboard for newer chrome versions
  var items = (event.clipboardData  || event.originalEvent.clipboardData).items;
  console.log(JSON.stringify(items)); // will give you the mime types
  // find pasted image among pasted items
  var blob = null;
  for (var i = 0; i < items.length; i++) {
    if (items[i].type.indexOf("image") === 0) {
      blob = items[i].getAsFile();
    }
  }
  // load image if there is a pasted image
  if (blob !== null) {
    var reader = new FileReader();
    reader.onload = function(event) {
      // console.log(event.target.result); // data url!
      vm.image = event.target.result
    };
    reader.readAsDataURL(blob);
  } else if (text !== null) {
    vm.blocks.push({
      type: 'para',
      value: text
    })
  }
}

function getSelectionCoords() {
var sel = document.selection, range;
    var width = 0, height = 0;
    if (sel) {
        if (sel.type != "Control") {
            range = sel.createRange();
            width = range.boundingWidth;
            height = range.boundingHeight;
        }
    } else if (window.getSelection) {
        sel = window.getSelection();
        if (sel.rangeCount) {
            range = sel.getRangeAt(0).cloneRange();
            if (range.getBoundingClientRect) {
                var rect = range.getBoundingClientRect();
                width = rect.right - rect.left;
                height = rect.bottom - rect.top;
                // console.log(rect)
            }
        }
    }
    return {
      y: rect.top,
      x: rect.left,
      width: width ,
      height: height
    };
}

function clearSelection() {
    if ( document.selection ) {
        document.selection.empty();
    } else if ( window.getSelection ) {
        window.getSelection().removeAllRanges();
    }
}

var t = '';
function gText(e) {
    t = (document.all) ? document.selection.createRange().text : document.getSelection();

    var v = t.toString();
    if (v==='') return
    // if
    // console.log(t.toString())

    // document.getElementById('input').value = t;
    // document.execCommand("CreateLink", false, v);
    console.log(getSelectionCoords())
}


// if (!document.all) document.captureEvents(Event.MOUSEUP);


import Vue from 'vue'
window.Vue = Vue

export default {
  components: {
    // 'my-component': Component,
    // 'card': Card
  },

  methods: {
    h1() {
      this.blocks.push({ type: 'h1', 'value': '' })
      setTimeout(() => {
        var elems = this.$el.querySelectorAll('.edit h1.ce')
        elems[elems.length-1].focus()
        // elems[elems.length-1].innerHTML = ''
      }, 0)
    },
    h2() {
      this.blocks.push({ type: 'h2', 'value': '' })
      setTimeout(() => {
        var elems = this.$el.querySelectorAll('.edit h2.ce')
        elems[elems.length-1].focus()
        // elems[elems.length-1].innerHTML = ''
      }, 0)
    },
    text() {
      this.blocks.push({ type: 'para', 'value': '' })
      setTimeout(() => {
        var elems = this.$el.querySelectorAll('.edit p.ce')
        elems[elems.length-1].focus()
        // elems[elems.length-1].innerHTML = ''
      }, 0)
    },
    select(ev) {
      console.log(ev)
    },

  gText(e) {
    t = (document.all) ? document.selection.createRange().text : document.getSelection();

    var v = t.toString();
    if (v==='') {
      this.coords = null
      return
    }
    // if
    // console.log(t.toString())

    // document.getElementById('input').value = t;
    // document.execCommand("CreateLink", false, v);
    var pos = getSelectionCoords()
    this.coords = { x:0, y:0}

    // console.log(this.$refs.cdr)
    setTimeout(() => {
      if (this.$refs.cdr === undefined ) return

      var rect = this.$refs.cdr.getBoundingClientRect()


    this.coords = {
      x: pos.x - rect.width/2 + pos.width/2,
      y: pos.y
    }

      // console.log(rect)

    }, 100)
    // console.log()
},

    bolder() {
      document.execCommand("bold", false, null);
      document.activeElement.blur()
      this.coords=null
      // this.blocks[index]['value'] = event.target.innerHTML
    },

    italic() {
      document.execCommand("italic", false, null);
      document.activeElement.blur()
      this.coords=null
      // this.blocks[index]['value'] = event.target.innerHTML
    },

    insertLink() {
      var result = prompt('Введите URL');
      if (result === null) return
      document.execCommand("CreateLink", false, result);
    document.activeElement.blur()
      this.coords = null
    },

    removeLink() {
      this.coords = null
      document.execCommand("UnLink", false);
    },

    input(index, event) {
      // console.log(event)
      this.blocks[index]['value'] = event.target.innerHTML
      // event.target.focus()
        // console.log(index)
      },

      remove(index) {
        this.blocks.splice(index, 1)
        // this.blocks[index]['value'] = event.target.innerHTML

      },

      up(element) {
        move(this.blocks, element, -1);
      },

      down(element) {
        move(this.blocks, element, 1);
      }
    },

    created() {
      window.vm = this
      document.onmouseup = this.gText;
// document.addEventListener("selectionchange", function() {
//   console.log('Selection changed.');
// });
},
data: function() {
  return {
    coords: null,
    blocks: [],
    image: null
  }
},

mounted() {
      // var s = this._compile(this.$el);
      // console.log(this.$el.innerHTML, JSON.stringify(this.blocks))
    },

    updated() {
      if (this.coords === null) clearSelection()
      console.log(this.$el.querySelector('[data-name=clean]').innerHTML, JSON.stringify(this.blocks))
    },

    watch: {
      blocks(val) {
        // setTimeout(() => {
        //   console.log(this.$el.innerHTML, JSON.stringify(val))
        // }, 0)
      },

      coords(val) {
        if (val === null) {
          return
        }

        if (val.x < 0) {
          this.coords.x = 0
        }

        if (val.y < 0) {
          this.coords.y = 0
        }
      }
    }
  }
</script>

<style>
  body {
    font-size: 90%;
  }
</style>
<style scoped>
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h1, p, h2 {
    padding: 8px;
  }
  .coords {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    line-height: 40px;
    /*opacity: 0.5;*/
    position: absolute;
    background: white;
    margin-top: -46px;
    border: solid 1px #e5e5e5;
    /*margin-left: -50px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  /*position: relative;*/
  /*transform: translateX(-50%);*/
  z-index: 1;
  }
  .coords:after {/*
    width: 14px;
    height: 14px;
    content: '';
    border: solid 1px #e5e5e5;
    position: absolute;
    bottom: -14px;
    background: white;
    z-index: -1;
    left: 50%;
    margin-left: -7px;
    transform: rotate(45deg);*/
  }
  .editor {
    padding: 16px;
    font-family: georgia;
    line-height: initial;
    /*line-height: 150%;*/
  }
  [contenteditable="true"] {
    outline: dotted 2px #ccc;
  }
  [contenteditable="true"]:focus {
    outline: dotted 2px lightblue;
    /*outline-offset: 3px;*/
  }
  .bolder {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #000;
  }
  .wrap {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .col {
    display: table-cell;
    vertical-align: top;
    width: 40%;
    padding-right: 20px;
  }
  .col + .col {
    width: 30%;
    padding-left: 20px;
    /*visibility: hidden;*/
    display: none;
  }
  .buttons {
    margin: 24px 0;
    padding: 12px;
    background: #eee;
    font-size: 14px;
  }
  table {
    width: 100%;
  }
  td {
    width: 100%;
  }
  td + td {
    padding-left: 20px;
    white-space: nowrap;
  }
</style>