<template>
  <div class='bls'>
    <div class='cnt-sel'>
      <h1>
        Как добавить<br>копируемый текст?
      </h1>
      <div>
      <button v-if='showHeadingButton' @click='click("h1")'>
        Заголовок
      </button>
      <button @click='click("h2")'>
        Подзаголовок
      </button>
      <button @click='click("bquote")'>
        Цитата
      </button>
      <button @click='click("paragraf")'>
        Абзац текста
      </button>
      </div>
      <div class='undo' @click='$emit("undo")'>
        Отмена
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'block-select',

    props: {
      value: {
        type: String,
        required: true
      },
      showHeadingButton: {
        type: Boolean,
        default: true
      }
    },

    methods: {
      click(blockName) {
        this.$emit('select', {
          type: blockName,
          value: this.value
        })
      }
    }
  }
</script>

<style scoped>
  .bls {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    position: fixed;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cnt-sel {
    text-align: center;
  }
  h1 {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
    font-size: 48px;
  }
  button {
    color: #8e44ad;
    width: 240px;
    height: 80px;
    font-size: 24px;
    background: none;
    border: solid 2px #8e44ad;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin: 24px auto;
  }
  button:hover,
  button:active {
    color: white;
    cursor: pointer;
    background: #8e44ad;
    border-color: #8e44ad;
  }
  button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .undo {
    margin: 32px 0;
    color: #8e44ad;
    cursor: pointer;
    font-size: 18px;
  }
</style>