<template>
  <div class='editor'>
    <h1 class='hello' v-if='!blocks.length'>
      <div class='disclaimer'>
        <h2>Копипастер</h2>
        <h5>
          Используйте горячие клавиши (⌘+C, ⌘+V) <br>
          для вставки контента
        </h5>
      </div>
    </h1>
    <block-select
      v-if='value'
      :value='value'
      :showHeadingButton='!hasHeading()'
      @select='onBlockSelect'
      @undo='onUndoBlockSelect'
    />
    <div class='blocks-list'>
      <!-- <draggable v-model='blocks'> -->
        <div :key="index" v-for='(block, index) in blocks'>
          <heading v-if='block.type === "h1"' :value="block.value"/>
          <div class='datetime' v-if='block.type === "h1"'>{{ getHumanDate() }}</div>
          <subheading v-else-if='block.type === "h2"' :value="block.value"/>
          <paragraf v-else-if='block.type === "paragraf"' :value="block.value"/>
          <quote v-else-if='block.type === "bquote"' :value="block.value"/>
          <photo v-else :value="block.value"/>
        </div>
      <!-- </draggable> -->
    </div>
  </div>
</template>

<script>
  import { move } from './utils'
  import MediumEditor from 'medium-editor'

  import 'medium-editor/dist/css/medium-editor.min.css'
  import 'medium-editor/dist/css/themes/beagle.css'

  export default {
    name: 'editor',

    components: {
      Draggable: require('vuedraggable'),
      BlockSelect: require('./BlockSelect'),
      Heading: require('./blocks/H1'),
      Subheading: require('./blocks/H2'),
      Paragraf: require('./blocks/Paragraph'),
      Photo: require('./blocks/Image'),
      Quote: require('./blocks/Blockquote')
    },

    data: () => ({
      blocks: [],
      value: null,
      image: null
    }),

    created() {
      this.unlisten = (() => {
        document.addEventListener('paste', this.onPaste)
        return () => document.removeEventListener('paste', this.onPaste)
      })()
    },

    updated () {
      new MediumEditor('p, blockquote', {
        toolbar: {
          buttons: [
            'bold',
            'italic',
            'underline'
          ]
        }
      })
    },

    destroyed() {
      this.unlisten()
    },

    methods: {
      getHumanDate() {
        return new Date().toLocaleString()
      },

      moveUp(block) {
        move(this.blocks, block, 1)
      },

      moveDown(block) {
        move(this.blocks, block, -1)
      },

      remove(index) {
        this.blocks.splice(index, 1)
      },

      add(block) {
        this.blocks.push(block)
      },

      hasHeading() {
        return this.blocks.some(block => block.type === 'h1')
      },

      onBlockSelect(block) {
        this.add(block)
        this.value = null
      },

      onUndoBlockSelect() {
        this.value = null
      },

      onPaste(event) {
        event.preventDefault()

        const text = event.clipboardData.getData('text/plain')
        const items = (event.clipboardData  ||
                      event.originalEvent.clipboardData).items

        let blob = null

        for (var i = 0; i < items.length; i++) {
          if (items[i].type.indexOf('image') === 0) {
            blob = items[i].getAsFile()
          }
        }

        if (blob !== null) {
          const reader = new FileReader()

          reader.onload = event => {
            this.add({
              type: 'image',
              value: event.target.result
            })
          }

          reader.readAsDataURL(blob)
        }
        else if (text !== '') {
          this.value = text
        }

        window.scrollTo(0, document.body.scrollHeight)
      }
    }
  }
</script>

<style scoped>
  .editor {
    padding-bottom: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .hello {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    position: fixed;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .disclaimer {
    text-align: center;
  }
  .hello h2 {
    margin: 0 0 16px;
  }
  .hello h5,
  .hello h5 input {
    margin: 0;
    width: auto;
    color: #999;
    font-size: 22px;
    font-weight: normal;
  }
  .hello h5 input {
    border: 0;
    font-size: 22px;
    color: #8e44ad;
    text-decoration: underline;
    width: 40px;
    padding: 0;
    box-sizing: border-box;
  }
  .blocks-list h1,
  .blocks-list h2 {
    line-height: 140%;
  }
  .blocks-list p {
    line-height: 130%;
  }
  .blocks-list {
    padding: 30px;
  }
  p:focus,
  blockquote:focus {
    outline: none;
  }
  .datetime {
    color: #999;
    font-size: 14px;
    margin-bottom: 14px;
  }
</style>